  <label> Zoznam pretekov: </label>
  <span class='waittext' ng-show="loadingData">Nahrávam...</span>
  <span class='waittext' ng-show="races.length<=0">Nie sú údaje!</span>
  <select ng-hide="loadingData || races.length<=0" ng-model='selectedRace'>
    <option ng-repeat='x in races' value='{{x.id}}'> {{x.Nazov}} </option>
  </select>
  <input type='button' style='margin:0px 5px 0px 5px;' value='Zoznam' 
    ng-hide="loadingData || races.length<=0" ng-click="zobrazenieRegistrovanych()">

  <table class="datatable" ng-hide="loadingData || raceRacers.length<=0" cellspacing='2' cellpadding='0' align="center">
  <tr>
    <th>#</th><th>Meno</th><th>Narod.</th><th>Adresa</th><th>Kontakt</th><th>Tim</th><th>Disciplina</th><th>Uhrada</th>
  </tr>
  <tr ng-repeat="x in raceRacers">
    <td> {{$index+1}} </td>
    <td> {{x.Meno}} </td>
    <td> {{x.Narodeny}} </td>
    <td> {{x.Adresa}} </td>
    <td> {{x.Kontakt}} </td>
    <td> {{x.Tim}} </td>
    <td> {{x.Disciplina}} </td>
    <td> {{x.Uhrada}} </td>
  </tr>
  </table>

